--tone-1: #ffffff; /*text/icons (bar, submenus)*/
--tone-2: #ff0000; /*icon fill (?)*/
--tone-3: #ffffff; /* #314562; /*headlines (content)*/
--tone-4: #ffffff; /*text/icons (content)*/
--tone-5: #1a1a1a; /*hover / box border (content)*/
--tone-6: #000000; /*inputs (content)*/
--tone-7: #000000; /*background (content)*/
--tone-8: #000000; /*small text (content)*/
--tone-9: #000000; /*background (bar)*/

--accent-1: #59C2FF;
--accent-2: #59C2FF;
--accent-3: #59C2FF;

--hover-background-color: #ffffff44;

--in-content-primary-button-background-hover: var(--hover-background-color) !important;
--in-content-box-background-hover: var(--hover-background-color) !important;
--in-content-category-background-hover: var(--hover-background-color) !important;
--theme-selection-background-hover: var(--hover-background-color) !important;

--lwt-toolbar-field-background-color: var(--tone-9) !important;
--lwt-toolbar-field-border-color: var(--tone-5) !important;
--lwt-toolbarbutton-hover-background: var(--tone-5) !important;
--lwt-toolbarbutton-active-background: var(--tone-5) !important;
/*--in-content-button-background: var(--tone-9) !important;
--in-content-button-background-hover: var(--tone-9) !important;
--in-content-button-background-active: var(--tone-9) !important;*/

--lwt-toolbarbutton-icon-fill: var(--tone-1);

--lwt-toolbar-field-background-color: var(--tone-9);
--lwt-toolbar-field-focus: var(--tone-9) !important;
--toolbar-bgcolor: var(--tone-9) !important;
--toolbar-bgimage: none !important;

--in-content-category-header-background: var(--tone-5) !important;

--lwt-background-tab-separator-color: #555 !important; /* ff dimms that color so it is brighter than it actualy is */
