#webrtcIndicator {  /* remove the mic warn window (doesn't really work) #TODO */
    display: none;
    opacity: 0%;
}

toolbar {
    background-color: var(--tone-9) !important;
}

/* Fix borders between tabs when tab background is diabled */
#tabbrowser-tabs:not([movingtab]) > .tabbrowser-arrowscrollbox > .tabbrowser-tab > .tab-stack > .tab-background[multiselected="true"]:-moz-lwtheme, #tabbrowser-tabs:not([movingtab]) > .tabbrowser-arrowscrollbox > .tabbrowser-tab > .tab-stack > .tab-background[selected="true"]:-moz-lwtheme {
    background-image: none !important;
}
#tabbrowser-tabs:not([movingtab]) > .tabbrowser-arrowscrollbox > .tabbrowser-tab[beforeselected-visible]::after, #tabbrowser-tabs[movingtab] > .tabbrowser-arrowscrollbox > .tabbrowser-tab[visuallyselected]::before, .tabbrowser-tab[visuallyselected]::after {
    border-color: var(--tone-5) !important;
}

/* Removes the small "search with" text */
.search-panel-one-offs-header {
    display: none !important;
}

.sidebar-splitter {
    width: 1px !important;
    border: none !important;
    background: var(--tone-5) !important;
}

vbox#sidebar-box.chromeclass-extrachrome {
    color: var(--tone-5);
    margin-right: -1px !important; /* Remove border, it was a late night and I still don't know the correct way to remove the border... */
}

/* remove tabbar on top */
/*#main-window[tabsintitlebar="true"]:not([extradragspace="true"]) #TabsToolbar > .toolbar-items {
  opacity: 0;
  pointer-events: none;
}
#main-window:not([tabsintitlebar="true"]) #TabsToolbar {
    visibility: collapse !important;
}*/
